[build-system]
requires = [
    'setuptools >= 61',
    'setuptools-scm[toml] ~= 6.0',
    'wheel',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'sps-app-hysteresis'
authors = [
    { name = "Anton Lu", email = "anton.lu@cern.ch" }
]
dynamic = ['version', 'readme']
description = 'GUI for predicting the magnetic field based on measured and programmed current in the SPS'
license = {text = 'Other/Proprietary License'}
classifiers = [
    'Development Status :: 3 - Alpha',
    'Environment :: X11 Applications :: Qt',
    'Intended Audience :: Science/Research',
    'License :: Other/Proprietary License',
    'Natural Language :: English',
    'Operating System :: POSIX :: Linux',
    'Programming Language :: Python :: 3 :: Only',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Topic :: Scientific/Engineering :: Artificial Intelligence',
    'Topic :: Scientific/Engineering :: Physics',
]
requires-python = '>=3.9'
dependencies = [
    'accjapc ~= 0.2.3',
    'accwidgets[graph] ~= 1.7.5',
    'matplotlib ~= 3.6',
    'numpy ~= 1.24',
    'pjlsa ~= 0.2.16',
    'pyjapc ~= 2.6',
    'pytorch-lightning ~= 2.0',
    'pyda ~= 0.1',
    'pyda-japc ~= 0.1',
    'pyda-rda3 ~= 0.1',
    'PyQt5 ~= 5.12',
    'QtPy ~= 2.3',
    'scipy ~= 1.10.1',
    'scikit-learn ~= 1.2',
    'torch ~= 2.0',
]

[project.optional-dependencies]
test = [
    "flake8",
    "pylint",
    "pytest-cov"
]
dev = [
    "black",
    "pre-commit",
    "ruff"
]

# keep this for dynamic versioning
[tool.setuptools_scm]

[tool.setuptools.dynamic]
readme = {file = ["README.md"], content-type = "text/markdown"}

[tool.setuptools]
packages = [
    'sps_apps.hysteresis_prediction',
]

[project.scripts]
app-hysteresis = "sps_apps.hysteresis_prediction.application:main"

[tool.black]
target-version = ['py39', 'py310']
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
  | .*/generated/*
)/
'''

[tool.ruff]

fixable = ["A", "B", "C", "D", "E", "F", "G", "I", "N", "Q", "S", "T", "W", "ANN", "ARG", "BLE", "COM", "DJ", "DTZ", "EM", "ERA", "EXE", "FBT", "ICN", "INP", "ISC", "NPY", "PD", "PGH", "PIE", "PL", "PT", "PTH", "PYI", "RET", "RSE", "RUF", "SIM", "SLF", "TCH", "TID", "TRY", "UP", "YTT"]
exclude = [
    "sps_apps/hysteresis_prediction/generated",
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]

line-length = 79
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"


target-version = "py39"

[tool.ruff.mccabe]
max-complexity = 10

[tool.pylint.MASTER]
extension-pkg-whitelist = ['torch']
# ignore = ['timing_acquisition.py']

[tool.pylint.REPORTS]
reports = false
score = false

[tool.pylint.DESIGN]
max-attributes = 14

[tool.pylint.'MESSAGES CONTROL']
disable = [
    'fixme',
    'duplicate-code',
    'similarities',
    'too-few-public-methods',
]

[tool.pylint.FORMAT]
ignore-long-lines = '<?https?://\S+>?$'

[tool.mypy]
disallow_untyped_defs = true
plugins = "numpy.typing.mypy_plugin"

[[tool.mypy.overrides]]
module = [
    'accjapc.*',
    'jpype.*',
    'matplotlib.*',
    'pjlsa.*',
    'pyjapc.*',
    'scipy.*',
    # 'pyda.*',
    'pyrbac.*'
]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = [
#    'sps_app_hysteresis.timing_acquisition',
]
disallow_untyped_defs = false

[tool.pyright]
reportPrivateImportUsage = "none"
